@{
    ViewData["Title"] = "Home Page";
}

<h1>Demo Pages</h1>

<p>All pages use Bootstrap 5 and are mobile responsive.</p>
<table class="table table-striped">
    <tbody>
        <tr>
            <td><a href="/Track/Search">Music Search</a></td>
            <td>
                <ul>
                    <li>Entity Framework 6 (accessing a SQLite database)</li>
                    <li>HttpClient</li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>