@{
    ViewData["Title"] = "Home Page";
}

<h1>Demo Pages</h1>

<div class="container">
    <div class="row">
        <div class="col align-content-start">
            All pages use Bootstrap 5 and are mobile responsive.
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <a href="/Track/Search">Music Search</a>
        </div>
        <div class="col-6">
            <ul>
                <li>Entity Framework 6 (accessing a SQLite database)</li>
                <li>HttpClient</li>
            </ul>
        </div>
    </div>
</div>
